/* FONTS */

// POPPINS
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
}

// OPEN-SANS

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-Bold.ttf");
}

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-ExtraBold.ttf");
}

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-Light.ttf");
}

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-Medium.ttf");
}

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-Regular.ttf");
}

@font-face {
  font-family: "Open-sans", sans-serif;
  src: url("../fonts/open-sans/OpenSans_SemiCondensed-SemiBold.ttf");
}