// CONTAINER 
$container-width: 1300px;
$max-xs: 576px;
$max-sm: 768px;
$max-md: 992px;
$max-lg: 1240px;

// COLORS
$color-green: #6a983c;
$bg-color: #fff;
$color-151515: #151515;

// FONTS
$font-poppins: "Poppins", sans-serif;
$font-open-sans:'Open-sans', sans-serif;